<div style="position: relative;">
  <agm-map [latitude]="currentLat" [longitude]="currentLng" [zoom]="zoom">
    <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
      <agm-marker *ngFor="let fs of fieldSupports" [latitude]="fs.lat" [longitude]="fs.lng" [iconUrl]="'assets/img/icon-bike.png'"
        (markerClick)="selectFieldSupport(fs)">
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>

  <div class="floating-box">
    <div class="card" *ngIf="!selectedFieldSupport">
      <div class="card-header">
        <form (submit)="searchFieldSupports(keyword.value)">
          <input type="text" name="keyword" #keyword class="form-control" placeholder="Search Field Support" autocomplete="off" />
        </form>
      </div>
      <div class="card-body p-0">
        <div class="field-support-item-list">
          <div class="field-support-item" *ngFor="let fs of filteredFieldSupports" (click)="selectFieldSupport(fs)">
            <b>{{ fs.name }}</b>
            <br/> {{ fs.username }}
            <br/> {{ fs.email }}
            <br/> {{ fs.phone }}
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="selectedFieldSupport">
      <div class="card-header">
        <div class="form-group-horizontal">
          <form (submit)="getPossibleRoutes()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Field Support"  />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Destination" />
            </div>
          </form>
        </div>
      </div>

      <div class="card-body">

      </div>
    </div>
  </div>