<div class="card">
  <div class="card-body col-6">
    <div class="row">
      <div class="col-2">
        <label>Aplication</label>
      </div>
      <div class="col-10">
        <select class="form-control" name="" id="" style="width: 100%">
          <option value="" selected>Data 1</option>
          <option value="">Data 2</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label>Name</label>
      </div>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Test" id="">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-2">
          <label for="exampleFormControlTextarea1">Description</label>
      </div>
      <div class="col-10">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div>
      <button class="btn btn-success" (click)="onCancel()">save</button>
      <button class="btn btn-danger" (click)="onCancel()">cancel</button>
    </div>
  </div>

</div>