<div class="animated fadeIn">
  <form>
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label">To</label>
          <div class="col-md-2">
            <label>
              <input type="checkbox" name="checkSendToAll" [(ngModel)]="checkSendToAll" (click)="setSendToAllRecipients($event)" /> Send to All
            </label>
          </div>
          <div class="col-md-8">
            <ng-select [items]="listRecipients" bindLabel="alias" [loading]="recipientLoading" [typeahead]="" [multiple]="true"
              (change)="recipientsOnChange($event)">
              <ng-template ng-option-tmp let-item="item">
                {{ item.alias }}
                <br/>
                <small>{{ item.type }}</small>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">
            Title
          </label>
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <input type="text" name="recipients" class="form-control" [(ngModel)]="news.title" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">
            Start Date
          </label>
          <div class="col-md-2">
            <label>
              <input type="checkbox" name="checkStartDateToday" [(ngModel)]="checkStartDateToday" (click)="setStartDateToday($event)" /> Present
            </label>
          </div>
          <div class="col-md-8">
            <input type="text" name="startDate" class="form-control" [(ngModel)]="news.startDate" bsDatepicker [disabled]="checkStartDateToday"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">
            End Date
          </label>
          <div class="col-md-2">
            <label>
              <input type="checkbox" name="checkEndDateNever" [(ngModel)]="checkEndDateNever" (click)="clearEndDate($event)" /> Never
            </label>
          </div>
          <div class="col-md-8">
            <input type="text" name="endDate" class="form-control" [(ngModel)]="news.endDate" bsDatepicker [disabled]="checkEndDateNever" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">
            Body News
          </label>
          <div class="col-md-10">
            <textarea name="content" cols="30" rows="10" class="form-control" [(ngModel)]="news.content"></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="submit">
          <i class="fa fa-dot-circle-o"></i> Send</button>
        <button class="btn btn-sm btn-default" type="reset">
          <i class="fa fa-ban"></i> Clear</button>
        <button class="btn btn-sm btn-danger" type="button" (click)="back()">
          <i class="fa fa-times"></i> Cancel</button>
      </div>
    </div>
  </form>
</div>

<pre>{{news|json}}</pre>