// Here you can add other styles
.app-header {
    .navbar-brand {
        width: 200px;

        .navbar-brand-full {
            width: 100%;
        }
    }

    .navbar-toggler {
        display: none;
    }
}
.sidebar {
    background-color: #004996;

    .nav-link {
        &.active {
            background-color: rgba(0,0,0,0.4);
        }
        &:hover {
            background-color: rgba(0,0,0,0.2);
        }

        .nav-icon {
            color: #fff;
        }
    }
}